:root {
  --font-color-light: #fff;
  --font-color-dark: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #fff;
  /* border: 1px solid navy; */
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  /* border: 1px solid yellowgreen; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

/* ======= letter-spacing ======= */

.letter-spacing-001em {
  letter-spacing: -0.01em;
}

.letter-spacing_0em {
  /* no-letter-spacing */
  letter-spacing: normal; /* 0% */
}

.letter-spacing_001em {
  letter-spacing: 0.01em;
}

.letter-spacing_002em {
  letter-spacing: 0.02em;
}

.letter-spacing_003em {
  letter-spacing: 0.03em;
}

.letter-spacing_004em {
  letter-spacing: 0.04em;
}

.letter-spacing_03em {
  /* letter-spacing-extended */
  letter-spacing: 0.3em;
}

.letter-spacing_06em {
  /* letter-spacing-wide */
  letter-spacing: 0.6em;
}