.header {
  display: grid;
  grid-template-columns: 454px 148px 1fr;
  align-items: center;
  gap: 0;
  width: 1052px;
  height: 105px;
  margin: 89px auto 99px; /* Pixel Perfect: 92px auto 96px; */
  font-size: 18px;
}

/* ======= HEADER ======= */

/********* Меню *******/

.links-list {
  display: flex;
  width: auto;
  color: --font-color-dark;
  font-size: 18px;
  line-height: 1.22;
  text-underline-offset: 4px;
  list-style: circle;
  white-space: nowrap;
}

.header .links-list {
  flex-direction: row;
  justify-content: space-between;
  padding: 44px 36px 39px 26.52px;
  line-height: 1.22;
  letter-spacing: 0.01em; /* 1% */
}

.links-list-item_no-bullit {
  list-style: none;
}

.link_active {
  letter-spacing: normal; /* 0% */
  text-decoration: none;
}

/********* Логотип *******/

.header__logo {
  place-self: center; /* padding: 2px -8px 0.61px 9.03px; */
}

.header__logo-image {
  height: 105px; /*104.65px;*/
  margin-top: 2px; /* Pixel Perfect: 0px */
}

/********* Контакты *******/

.address {
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0.01em; /* 1% */
  text-underline-offset: 4px; /* сдвиг линии подчеркивания вниз */
}

.header .address {
  padding: 5px 25.48px 2px 184px;
}

/* ======= COVER ======= */

/******* Фоновое изображение *******/

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
}

/******* Заголовок *******/

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  height: 355px;
  background-color: transparent;
}

.cover__title span {
  color: var(--font-color-light);
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  background-color: transparent;
}

.cover__title__aligned-text_left {
  align-self: start;
  line-height: 1.15;
  background-color: transparent;
}

.cover__title__aligned-text_center {
  align-self: center;
  margin-left: -30px;
  line-height: 1;
  background-color: transparent;
}

.cover__title__aligned-text_right {
  align-self: end;
  line-height: 1;
  background-color: transparent;
}

/******* Подзаголовок с кнопкой *******/

.cover__description {
  position: absolute;
  top: 655px; /* 668px */
  left: 79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center; /* выравнивание по первой строке*/
  gap: 78.5px;
  color: var(--font-color-light);
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.cover__description-text {
  width: 637px;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 0.84em; /* 18.5px */
  background-color: transparent;
  white-space: nowrap;
}

.cover__bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 50px;
  border: 1px solid var(--font-color-light);
  background-color: transparent;
}

.cover__bet-button__text {
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

/* ======= ЛОТЫ ======= */

.lots {
  width: 1052px;
  height: 692px;
  margin: 179px auto 0 auto;
  color: var(--font-color-dark);
}

.lots__title {
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 27px;
  list-style: none;
}

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 563px;
  padding: 51px 40px 48px;
  color: var(--font-color-light);
}

.lot__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
}

.lot__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lot__title,
.lot__title a,
.lot__text,
.lot__text p,
.lot__text_stretch,
.lot_text_wide {
  background-color: transparent;
}

.lot_text_wide {
  /* многоточие в последнем лоте */
  letter-spacing: 0.13em;
}

.lot__text_stretch {
  /* удлиненное тире (&mdash; и &#8212; - короткие) */
  font-stretch: ultra-condensed;
}

.lot__link__next_page {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-underline-offset: 5px;
}

.lot__image {
  display: block;
  width: 334px;
  height: 564px;
}

.lot__image_anderson {
  background: url(../images/card-lot-01.jpg);
}

.lot__image_joyce {
  background: url(../images/card-lot-02.jpg);
}

.lot__image_kandinsky {
  background: url(../images/card-lot-03.jpg);
}

.cover,
.lot__image_anderson,
.lot__image_joyce,
.lot__image_kandinsky {
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
}

/* ======= ABOUT ======= */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  align-items: start;
  gap: 25px;
  width: 1052px;
  /* height: 595px; /* высота подстраивается автоматически по about_description__text */
  margin: 146px auto 180px;
}

.about__logo-box {
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-box__image {
  width: 148px;
  height: 114px;
  margin: auto;
  background-color: transparent;
}

.about__description {
  display: flex;
  flex-direction: column;
  padding-top: 136px;
  color: var(--font-color-dark);
}

.about__description__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about_description__text:not(:last-of-type) {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
}

.about_description__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
}

/* ======= ABOUT ======= */

.footer {
  display: grid;
  grid-template-columns: 426px 150px 1fr;
  align-items: start; /*center;*/
  gap: 0;
  width: 1000px;
  height: 98px;
  margin: 0 auto 88px;
  font-size: 18px;
}

.footer .address {
  padding: 0;
}

.footer .links-list {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 0;
  letter-spacing: normal; /* 0% */
  list-style: none;
}

.footer__logo-image {
  height: 48px;
  /* width: 48px; /* ширина новых logo может быть другой */
}

.footer__socals-links {
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 48);
  justify-content: end;
  gap: 48px;
  list-style: none;
}
