.header {  width: 1052px;
  height: 105px;
  display: grid;
  grid-template-columns: 454px 148px 1fr;
  /* justify-content: space-between; */
  gap: 0;
  align-items: center;
  /* margin-top: 92px; */
  /* margin-bottom: 96px; */
  margin: 92px auto 96px auto;
  /* justify-items: center; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* padding: 0; */
}

/********* Меню *******/

.header__menu {
  /* justify-self: stretch; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 391.48px;
  /* box-sizing: border-box; */
  list-style-type: circle;
  padding: 44px 36px 39px 26.52px; /* 26.52 ???*/
  font-size: 18px;
  letter-spacing: 0.01em; /* 1%; */
  color: #000000;
  /* gap: 16px;  
  line-height: 1.35; */
}

.header__menu-main {
  list-style: none;
  letter-spacing: 0; /* 0% */
  text-decoration: none;
  /* color: red; */
}

/********* Логотип *******/

.header__logo {
  place-self: center; /* justify-self: center; */
}

.header__logo-image {
  width: 129.11px;
  height: 104.65px; /* сохранение пропорции */
}
